name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Revisi贸n de c贸digo limpio con flake8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Ejecutar flake8
        run: flake8 . --count --show-source --statistics

  test:
    name: Ejecuci贸n de pruebas unitarias
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest moto boto3

      - name: Ejecutar pruebas con pytest
        run: PYTHONPATH=$(pwd) pytest scrapping/test/ parser/test/

  deploy:
    name: Despliegue en AWS con Zappa
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"  #  Ahora igual que en los otros jobs

      - name: Instalar dependencias y configurar entorno virtual
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip wheel
          pip install "setuptools<58.0.0"
          pip install -r requirements.txt
          pip install boto3 beautifulsoup4 awscli zappa

      - name: Configurar credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Verificar conexi贸n con AWS S3
        run: |
          source venv/bin/activate
          aws s3 ls

      - name: Deploy con Zappa
        run: |
          source venv/bin/activate
          cd parser
          ls  #  Verificar archivos antes de desplegar
          
          zappa status dev_parser || true  #  Evitar error si no existe
          
          if zappa status dev_parser 2>/dev/null; then
            echo "Actualizando aplicaci贸n..."
            zappa update dev_parser
          else
            echo "Desplegando nueva aplicaci贸n..."
            zappa deploy dev_parser
          fi

      - name: Verificar despliegue con Zappa
        run: |
          source venv/bin/activate
          cd Parsing
          zappa status dev_parser
